    body {
        background: #3CA5B5;
    }

    ::placeholder {
        color: #fff !important;
    }

    .container {
        max-width: 400px;
    }

    input[type=text],
    input[type=text]:focus {
        color: #fff;
        border: none;
        background: rgba(0,0,0,0.2);
    }

    .todos li{
        background: #2B5960;
    }

    .delete {
        cursor: pointer;
    }
    .filtered{
        display: none !important;
    }